button {
  cursor: pointer;
}

#portfolio {
  width: 100%;
  min-height: 175vh;
  background: #ffffff;
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  grid-gap: 2px;
}

.project {
  position: relative;
  background: rgb(184,184,255);
  overflow: hidden;
}

.project img {
  position: absolute;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  align-items: center;
}


.project p {
  position: absolute;
  text-align: center;
  width: 100%;
  padding: 1em 0;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(147, 129, 255);
  text-shadow: 1px 0px white;
  font-size: 2em;
  letter-spacing: 2px;
  z-index: 3;
}

.project .grid__title {
  position: absolute;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  bottom: 0;
  font-weight: 100;
  font-size: 0.8em;
  z-index: 3;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(147, 129, 255);
  letter-spacing: 2px;
}

.project:hover .grid__overlay {
  transform: translateY(0%);
}

.grid__overlay {
  background: rgba(184,184,255, 0.8);
  height: 100%;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  transform: translateY(101%);
  transition: all 0.3s ease-in-out;
}

.grid__overlay button {
  background: none;
  outline: none;
  font-weight: 100;
  letter-spacing: 2px;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px;
}

.grid__overlay button:hover {
  transition: all 0.3s ease-in-out;
  background: #ffffff;
  color: rgb(184,184,255);
  transform: scale(1.05);
}

.overlay {
  position: fixed;
  background: rgba(71, 69, 69, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 3;
  align-items: center;
}

.overlay img{
  width: 40%;
  background: #ffffff;
  padding: 20px;
}

.overlay.open {
  display: grid;
  align-items: center;
  justify-content: center;
}

.overlay__inner {
  
  padding: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  opacity: 1;
}

.close {
  position: absolute;
  top: 3px;
  right: 10px;
  background: none;
  outline: 0;
  color: #474545;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.close:hover {
  color: rgb(184,184,255);
}

.project__image {
  width: 100%;

}